---
import type { CollectionEntry } from "astro:content";

import Pill from "./Pill.astro";

interface Props {
  project: CollectionEntry<"work">;
}

const { data, slug } = Astro.props.project;
---

<a
  class="card mx-auto min-h-[20rem] shadow-sm hover:shadow-md lg:max-h-[30rem] lg:min-h-[20rem]"
  href={`/work/${slug}`}
>
  <div class="title flex h-12 w-fit items-center">{data.title}</div>
  <div class="img-wrapper overflow-hidden">
    <img
      class="mb-10 h-full w-full object-cover will-change-transform"
      src={data.img}
      alt={data.img_alt || ""}
      transition:name={`feat-${slug}`}
      transition:animate="fade"
      loading="lazy"
      decoding="async"
    />
  </div>

  <div
    class="bg-gradient-to-br from-white to-slate-50 p-8 text-slate-900 dark:from-gray-950 dark:to-gray-950/50 dark:text-gray-200"
  >
    <p class="description" transition:name={`${slug}-desc`}>
      {data.description}
    </p>
    <div class="span tags-grid start-0 z-30 mt-8 inline-block flex-col">
      <div class="tags inline-flex items-center gap-2 pb-2">
        {data.tags.map((t) => <Pill>{t}</Pill>)}
      </div>
    </div>
  </div>
</a>

<style>
  .card {
    display: grid;
    height: 100%;
    max-width: min(80vw, 600px);
    width: 100%;
    background: var(--gradient-subtle);
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    overflow: hidden;
    text-decoration: none;
    font-family: var(--font-brand);
    /* font-size: var(--text-lg); */
    font-weight: 500;
    transition: box-shadow var(--theme-transition);
  }

  .description {
    font-size: var(--text-lg);
    max-width: 54ch;
  }

  .spacer {
    grid-area: 2 / 1 / 2 / 1;
  }

  .title {
    grid-area: 1 / 1 / 1 / 1;
    /* display: inline-block; */
    z-index: 1;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    background: var(--gray-999);
    color: var(--gray-200);
    border-radius: 0.375rem;
  }

  .img-wrapper {
    grid-area: 1 / 1 / 3 / 1;
  }
  .img-wrapper img {
    transition: transform 150ms ease-out;
  }
  .card:hover img {
    transform: scale(1.1);
  }

  /* a:hover img {
    transform: translateX(-50%) translateY(-50%) scale(1.2);
  } */

  @media (min-width: 50em) {
    .card {
      border-radius: 1.5rem;
    }

    .title {
      border-radius: 0.9375rem;
    }
  }
</style>
