---
import type { CollectionEntry } from "astro:content";
import Pill from "./Pill.astro";

interface Props {
  project: CollectionEntry<"work">;
}

const { data, slug } = Astro.props.project;
---

<a class="card mx-auto" href={`/work/${slug}`}>
  <div class="title w-full pb-10">{data.title}</div>
  <img
    src={data.img}
    alt={data.img_alt || ""}
    transition:name={`feat-${slug}`}
    transition:animate="fade"
    class="min-h-max h-full"
    loading="lazy"
    decoding="async"
  />

  <div class="inline-block flex-col z-30 start-0 span fl-2 mt-8">
    <div class="tags inline-flex items-center gap-2 pb-2">
      {data.tags.map((t) => <Pill>{t}</Pill>)}
    </div>
  </div>

  <p
    class="description text-slate-900 dark:text-slate-200 px-4 bg-gradient-to-br py-8 from-purple-200/80 dark:from-black to-slate-200 dark:to-slate-900"
  >
    {data.description}
  </p>
</a>

<style>
  .card {
    display: grid;
    grid-template: auto 1fr / auto 1fr;
    height: 100%;
    max-width: min(80vw, 600px);
    width: 100%;
    background: var(--gradient-subtle);
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    overflow: hidden;
    box-shadow: var(--shadow-sm);
    text-decoration: none;
    font-family: var(--font-brand);
    /* font-size: var(--text-lg); */
    font-weight: 500;
    transition: box-shadow var(--theme-transition);
  }

  :global(.card .pill) {
    @apply text-base lg:text-lg py-2 md:py-2;
  }

  .card:hover {
    box-shadow: var(--shadow-md);
  }

  .fl-2 {
    grid-area: 3 / 3 / 3 / 1;
    z-index: 1;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: var(--gray-200);
    border-radius: 0.375rem;
    justify-content: end;
    align-content: start;
  }

  .title {
    grid-area: 1 / 2 / 1 / 1;
    z-index: 1;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    background: var(--gray-999);
    color: var(--gray-200);
    border-radius: 0.375rem;
  }

  img {
    grid-area: 1 / 1 / 6 /6;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (min-width: 50em) {
    .card {
      height: 22rem;
      border-radius: 1.5rem;
    }

    .title {
      border-radius: 0.9375rem;
    }
  }
</style>
